
@{
    ViewData["Title"] = "CheckEmail";
}


<!-- Register -->

<div class="register">

	<div class="container-fluid">

		<div class="row row-eq-height">

			<div class="col-lg-6 nopadding">
				<!-- Search -->

				<div class="search_section d-flex flex-column align-items-center justify-content-center">
					<div class="search_background" style="background-image:url(images/search_background.jpg);"></div>
					<div class="search_content text-center">
						<img src="~/images/forgetpassword_background.jpg" />
					</div>
				</div>
			</div>
			<div class="col-lg-6 nopadding">

				<!-- Register -->

				<div class="register_section d-flex flex-column align-items-center justify-content-center">
					<div class="register_content text-center">
						<h1 class="register_title">Reset password email sent</h1>
						<p class="register_text">
							You should soon receive an email allowing you to reset your password.
							Please make sure to check your spam and trash if you can't find the email.
						</p>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>