
@{
    ViewData["Title"] = "Forgetpassword";
}


<!-- Forget Password -->
@model ForgetPasswordViewModel
<div class="register py-5" style="background-image:url('@Url.Content("~/images/register_background0.jpg")')">

    <div class="container">

        <div class="row justify-content-center">
            <div class="col-lg-8">
                <!--Forget Password -->
                <div class="register_section d-flex flex-column align-items-center justify-content-center">
                    <div class="register_content text-center align-self-center">
                        <h1 class="register_title">Forgot Password</h1>
                        <p>We’ll email you a link so you can reset your password.</p>
                        <form id="register_form" class="register_form" method="post" asp-action="SendLinkResetpassword">
                            <div class="form-group">
                                <input id="register_email" class="form-control" asp-for="Email" placeholder="Email Address" required>
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="btn">
                                <button type="submit" class="btn btn-primary btn-lg">Reset Password</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

