@model CourseViewModel
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Add Course</h2>

<form asp-action="AddCourse" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ImageFile" class="control-label">Upload Image</label>
        <input asp-for="ImageFile" type="file" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Duration"></label>
        <input asp-for="Duration" type="number" class="form-control" />
        <span asp-validation-for="Duration" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="TotalLecture"></label>
        <input asp-for="TotalLecture" type="number" class="form-control" />
        <span asp-validation-for="TotalLecture" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="CategoryId">Category</label>
        <select asp-for="CategoryId" class="form-control" asp-items="Model.Categories">
            <option value="">Select Category</option>
        </select>
        <span asp-validation-for="CategoryId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="InstructorId">Instructor</label>
        <select asp-for="InstructorId" class="form-control" asp-items="Model.Instructors">
            <option value="">Select Instructor</option>
        </select>
        <span asp-validation-for="InstructorId" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
</form>


<div>
    <a asp-action="Courses">Back to List</a>
</div>