@model Online_Learning_Platform.Models.UserBase
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h2>Edit User</h2>

<form asp-action="EditUser" method="post">
    <div class="form-group">
        <label asp-for="UserName"></label>
        <input asp-for="UserName" class="form-control" />
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="RoleName"></label>
        <select asp-for="RoleName" class="form-control">
            <option>___select Role___</option>
            <option>Student</option>
            <option>Admin</option>
            <option>Instructor</option>
        </select>
        <span asp-validation-for="RoleName" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Save Changes</button>
</form>
<div>
    <a asp-action="Users">Back to List</a>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
