@model IEnumerable<Online_Learning_Platform.ViewModels.EnrollmentViewModel>

<table class="table">
    <thead>
        <tr>
            <th>Course</th>
            @* <th>Student</th> *@
            <th>Progress</th>
            <th>Enrollment Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var enrollment in Model)
        {
            <tr>
                <td>@enrollment.CourseTitle</td>
                @* <td>@enrollment.StudentUserName</td> *@
                <td>@enrollment.Progress</td>
                <td>@enrollment.EnrollmentDate.ToString("MM/dd/yyyy")</td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-action="Index">Back to List</a>
</div>
