
<link rel="stylesheet" type="text/css" href="~/styles/contact_styles.css">
<link rel="stylesheet" type="text/css" href="~/styles/contact_responsive.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.5/dist/sweetalert2.min.css" rel="stylesheet">
<!-- Home -->

<div class="home">
	<div class="home_background_container prlx_parent">
		<div class="home_background prlx" style="background-image:url('@Url.Content("~/images/contact_background.jpg")')"></div>
	</div>
	<div class="home_content">
		<h1>@ViewData["Title"]</h1>
	</div>
</div>