
<link rel="stylesheet" type="text/css" href="~/styles/contact_styles.css">
<link rel="stylesheet" type="text/css" href="~/styles/contact_responsive.css">

<!-- Home -->

<div class="home">
	<div class="home_background_container prlx_parent">
		<div class="home_background prlx" style="background-image:url('@Url.Content("~/images/contact_background.jpg")')"></div>
	</div>
	<div class="home_content">
		<h1>@ViewData["Title"]</h1>
	</div>
</div>