
}

<!DOCTYPE html>
<html lang="en">

<head>
	<title>Course - Courses</title>
	<meta charset="utf-8">
</head>

<div class="home">
	<div class="home_background_container prlx_parent">
		<div class="home_background prlx" style="background-image:url('@Url.Content("~/images/courses_background.jpg")')"></div>
	</div>
	<div class="home_content">
		<h1>Courses</h1>
	</div>
</div>
    <!-- Courses End -->


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="mail/jqBootstrapValidation.min.js"></script>
    <script src="mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>

