@model CourseIndexViewModel
@{

}

<head>
	<title>Course - Courses</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="Course Project">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="~/styles/bootstrap4/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="~/plugins/fontawesome-free-5.0.1/css/fontawesome-all.css">
	<link rel="stylesheet" type="text/css" href="~/styles/courses_styles.css">
	<link rel="stylesheet" type="text/css" href="~/styles/courses_responsive.css">
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />

</head>
<!-- Home -->



<link rel="stylesheet" type="text/css" href="~/styles/courses_styles.css">
<link rel="stylesheet" type="text/css" href="~/styles/courses_responsive.css">

<style>
	.form-select {
		width: 200px; /* Adjust width as needed */
	}

	.btn {
		padding: 0.5rem 1rem; /* Adjust button size */
	}

	/* Add margin between elements */
	.form-select {
		margin-right: 10px; /* Space between dropdown and button */
	}
</style>
<div class="super_container">
  <!-- Home -->

	<div class="home">
		<div class="home_background_container prlx_parent">
			<div class="home_background prlx" style="background-image:url(images/courses_background.jpg)"></div>
		</div>
		<div class="home_content">
			<h1>Courses</h1>
		</div>
	</div>
	<form method="get" asp-action="Index" class="d-flex align-items-center mb-4">
		<select name="categoryId" class="form-select me-2" aria-label="Select Category">
			<option value="">All Categories</option>
			@foreach (var category in Model.Categories)
			{
				<option value="@category.Id">@category.Name</option>
			}
		</select>

		<button type="submit" class="btn btn-success" style="background-color:gold;">Filter</button>
	</form>

</div>
<script src="~/js/courses_custom.js"></script>



<partial name="_PopularCoursesPartial" model="Model.Courses"></partial>