@{

}

<head>
	<title>Course - Courses</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="Course Project">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="~/styles/bootstrap4/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="~/plugins/fontawesome-free-5.0.1/css/fontawesome-all.css">
	<link rel="stylesheet" type="text/css" href="~/styles/courses_styles.css">
	<link rel="stylesheet" type="text/css" href="~/styles/courses_responsive.css">
</head>
<!-- Home -->

<div class="home">
	<div class="home_background_container prlx_parent">
		<div class="home_background prlx" style="background-image:url('@Url.Content("~/images/courses_background.jpg")')"></div>
	</div>
	<div class="home_content">
		<h1>Courses</h1>
	</div>
</div>

<partial name="_PopularCoursesPartial" model="Model"></partial>